<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheMusicProject - Home</title>
    <link rel="icon" type="image/x-icon" href="../imgs/icon.ico">
    <link rel="stylesheet" href="../stylesheets/home-style.css">
</head>

<body>
    <aside id="aside">
        <div class="sidebar-logo">
            <img src="../imgs/THEmusicPROJECT.png" alt="logo" draggable="false">
        </div>
        <div class="sidebar-menu">
            <a class="sidebar-menu-selected">
                <i class="fa-solid fa-house"></i> Home
            </a>
            <a href="/search/<%= idUser %>" draggable="false" id="search-link">
                <i class="fa-solid fa-magnifying-glass "></i> Buscar
            </a>
            <a href="/profile/<%= idUser %>" draggable="false" id="profile-link">
                <i class="fa-solid fa-user"></i> Perfil
            </a>
        </div>
        <div class="sidebar-menu">
            <div class="sidebar-menu-item" id="createPlaylist">
                <div class="sidebar-menu-item-component">
                    +
                </div>
                <span>Criar Playlist</span>
            </div>
            <div class="sidebar-playlists">
                <% for (let i=0; i < playlists.length; i++) { %>
                    <a href="/playlist/<%= idUser %>/<%= i %>" class="testeBotaoFuncionaPFV">
                        <%= playlists[i].nomePlaylist %>
                    </a>
                    <% } %>
            </div>
        </div>
    </aside>

    <div class="box" id="createPlaylistBox"> </div>
    <div id="#dbResultBox"> </div>

    <main id="main">
        <div id="top">
            <marquee direction="">O mais novo site de musica | Aproveite sua estadia em nosso site | Está com problemas?
                Conte-nos | Produzido por alunos do Colégio Técnico da Unicamp</marquee>
        </div>
        <div id="slider">
            <a class="slider-a"><img src="../imgs/img1.png" alt="dica" class="slider-img" id="img1"
                    draggable="false"></a>
            <a class="slider-a"><img src="../imgs/img2.png" alt="dica" class="slider-img" id="img2"
                    draggable="false"></a>
            <a class="slider-a"><img src="../imgs/img3.png" alt="dica" class="slider-img" id="img3"
                    draggable="false"></a>
            <a class="slider-a"><img src="../imgs/img4.png" alt="dica" class="slider-img" id="img4"
                    draggable="false"></a>
        </div>
    </main>

    <script src="../stylesheets/all.min.js"></script>
    <script src="../scripts/home-script.js"></script>
</body>

</html>