<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheMusicProject - Playlist</title>
    <link rel="icon" type="image/x-icon" href="../imgs/icon.ico">
    <link rel="stylesheet" href="../stylesheets/playlist-style.css">
</head>

<body>
    <aside id="aside">
        <div class="sidebar-logo">
            <img src="../imgs/THEmusicPROJECT.png" alt="logo" draggable="false">
        </div>
        <div class="sidebar-menu">
            <a href="/home/<%= idUser %>">
                <i class="fa-solid fa-house"></i> Home
            </a>
            <a href="/search/<%= idUser %>" draggable="false">
                <i class="fa-solid fa-magnifying-glass "></i> Buscar
            </a>
            <a href="/profile/<%= idUser %>" draggable="false">
                <i class="fa-solid fa-user"></i> Perfil
            </a>
        </div>
        <div class="sidebar-menu">
            <div class="sidebar-menu-item" id="createPlaylist">
                <div class="sidebar-menu-item-component ">
                    +
                </div>
                <span>Criar Playlist</span>
            </div>
            <div class="sidebar-playlists">
                <% for (let i=0; i < playlists.length; i++) { %>
                    <a href="/playlist/<%= idUser %>/<%= i %>">
                        <%= playlists[i].nomePlaylist %>
                    </a>
                    <% } %>
            </div>
        </div>
    </aside>

    <header id="header">
        <div id="top">
            <div id="top-image">
                <img id="t-img" src="../imgs/top50brazil.jpg" alt="Img">
            </div>
            <div id="top-data">
                <h1 id="title">
                    <% playlist.nomePlaylist %>
                </h1>
                <h2 id="description">
                    <% playlist.desc %>
                </h2>
                <p id="songCount">
                    <% playlist.musicas %>
                </p>
            </div>
        </div>
        <div id="sub-top">
            <a id="play">
                <i class="fa-solid fa-play"></i>
            </a>
            <a id="delete">
                <i class="fa-solid fa-trash-can"></i>
            </a>
            <a id="edit">
                <i class="fa-solid fa-edit"></i>
            </a>
        </div>
    </header>

    <div class="box" id="deletePlaylistBox"> </div>
    <div class="box" id="editPlaylistBox"> </div>
    <div class="box" id="removeSongBox"> </div>
    <div class="box" id="createPlaylistBox"> </div>
    <div id="#dbResultBox"> </div>

    <main id="main">
        <% for (let i=0; i < playlist.musicas.length; i++) { %>
            <div id="musicas">
                <div class="song">
                    <div class="s-image">
                        <img src="<%= playlists.musicas[i].imagem %>" alt="Img" draggable="false">
                    </div>
                    <div class="s-data">
                        <h1>
                            <%= playlists.musicas[i].nomeMusica %>
                        </h1>
                        <h2>
                            <%= playlists.musicas[i].nomeArtista %>
                        </h2>
                        <h2>
                            <%= playlists.musicas[i].nomeAlbum %>
                        </h2>
                    </div>
                    <div class="s-buttons">
                        <button style="font-size: 20px;" onclick="removeSong('#song1')">
                            <i class="fa-solid fa-trash-can" style="color: #fff;"></i>
                        </button>
                        <button style="font-size: 20px;"
                            onclick="showSongData('<%= playlists.musicas[i].imagem %>', '<%= playlists.musicas[i].nomeMusica %>', '<%= playlists.musicas[i].nomeArtista %>', '<%= playlists.musicas[i].nomeAlbum %>', '<%= playlists.musicas[i].previewMusica %>')">
                            <i class="fa-solid fa-play" style="color: #fff;"></i>
                        </button>
                    </div>
                </div>
            </div>
            <% } %>

                <div class="player">
                    <div class="player-artist">
                        <div class="pa-image">
                            <img src="" alt="ícone" id="pa-img" draggable="false">
                        </div>
                        <div class="pa-data">
                            <h1 id="title"> Título 1 </h1>
                            <h2 id="artist"> Artista 1 </h2>
                            <h2 id="album"> Álbum 1 </h2>
                        </div>
                    </div>
                    <div class="player-control">
                        <div class="player-control-buttons">
                            <a id="backwardBtn">
                                <i class="fas fa-backward"></i>
                            </a>
                            <a id="pauseBtn" style="display: none;">
                                <i class="fa-solid fa-pause"></i>
                            </a>
                            <a id="playBtn" style="display: inline-block;">
                                <i class="fa-solid fa-play"></i>
                            </a>
                            <a id="forwardBtn">
                                <i class="fas fa-forward"></i>
                            </a>
                            <div class="player-control-progress">
                                <input type="range" class="music-progress-bar" value="0"> <br>
                                <p class="current-time">00 : 00</p>
                                <p class="duration">00 : 00</p>
                            </div>
                        </div>
                        <div class="player-control-volume">
                            <a id="volumeBtn">
                                <i class="fas fa-volume-high" id="volume-icon"></i>
                            </a>
                            <input type="range" class="volume-slider" min="0" max="1" value="1" step="0.1">
                        </div>
                        <button id="closeSong">X</button>
                    </div>
                </div>
                <audio id="audioPlayer" controls>
                    <source src="" id="preview" type="audio/mpeg">
                </audio>
    </main>

    <script src="../stylesheets/all.min.js"></script>
    <script src="../scripts/playlist-script.js"></script>
</body>

</html>