<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheMusicProject - Perfil</title>
    <link rel="icon" type="image/x-icon" href="../imgs/icon.ico">
    <link rel="stylesheet" href="../stylesheets/profile-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <aside id="aside">
        <div class="sidebar-logo">
            <img src="../imgs/THEmusicPROJECT.png" alt="logo" draggable="false">
        </div>
        <div class="sidebar-menu">
            <a href="/home/<%= idUser %>" draggable="false" id="home-link">
                <i class="fa-solid fa-house"></i> Home
            </a>
            <a href="/search/<%= idUser %>" draggable="false" id="search-link">
                <i class="fa-solid fa-magnifying-glass"></i> Buscar
            </a>
            <a class="sidebar-menu-selected" draggable="false">
                <i class="fa-solid fa-user"></i> Perfil
            </a>
        </div>
        <div class="sidebar-menu">
            <div class="sidebar-menu-item" id="createPlaylist">
                <div class="sidebar-menu-item-component">
                    +
                </div>
                <span>Criar Playlist</span>
            </div>
            <div class="sidebar-playlists">
                <% for (let i=0; i < playlists.length; i++) { %>
                    <a href="playlist/<%= idUser %>/<%= i %>">
                        <%= playlists[i].nome %>
                    </a>
                    <% } %>
            </div>
        </div>
    </aside>

    <div class="box" id="deleteUserBox"> </div>
    <div class="box" id="editUserBox"> </div>
    <div class="box" id="createPlaylistBox"> </div>
    <div id="#dbResultBox"> </div>

    <main id="main">
        <div id="top">
            <marquee direction="">O mais novo site de musica | Aproveite sua estadia em nosso site | Está com problemas?
                Conte-nos | Produzido por alunos do Colégio Técnico da Unicamp</marquee>
        </div>
        <div class="card">
            <% if (user.corFundo == "") { %>
                <div class="card-color" style="background-color: #fff"> </div>
            <% } else { %>
                <div class="card-color" style="background-color: '<%= user.corFundo %>'"> </div>
            <% } %>
            <div class="card-image">
                <% if (user.imagemPerfil == "") { %>
                    <img id="profile-img" src="../imgs/user-icon.png">
                <% } else { %>
                    <img id="profile-img" src="<%= user.imagemPerfil %>">
                <% } %>
            </div>
            <div class="card-content">
                <div class="card-buttons">
                    <a id="delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    <a id="edit">
                        <i class="fa-solid fa-edit"></i>
                    </a>
                </div>
                <h1 id="username">
                    <%= user.nome %>
                </h1>
                <p id="bio">
                    <%= user.desc %>
                </p>
                <p id="email">
                    <%= user.email %>
                </p>
            </div>
            <div class="icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitch"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-whatsapp"></a>
            </div>
        </div>
    </main>

    <script src="../scripts/profile-script.js"></script>
</body>

</html>